@{
    var userName = User.FindFirst(ClaimTypes.Name)?.Value ?? "User";
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value ?? "Unknown";
    var displayPicture = User.FindFirst("DisplayPicture")?.Value ?? "images/profile-user.png";
}
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="cursor-pointer inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>
                <a href="/admin/dashboard" class="flex ms-2 md:me-24">
                    <img src="~/images/logo.png" class="h-8 me-3" alt="PALIT Logo" />
                    <span class="text-[var(--color-primary)] self-center text-xl font-bold sm:text-2xl whitespace-nowrap dark:text-[var(--color-primary)]">PALIT</span>
                </a>
            </div>
            <div class="flex items-center">
                <div class="relative flex items-center ms-3">
                    <div>
                        <button id="dropdown-toggle" type="button" class="cursor-pointer flex items-center text-sm rounded-full">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full" src="~/@displayPicture" alt="user photo">

                            <div class="hidden sm:flex flex-col items-start ms-3 text-left">
                                <p class="text-sm font-medium text-black">@userName</p>
                                <p class="text-xs text-gray-500">@userRole</p>
                            </div>
                        </button>

                    </div>
                    <div id="dropdown-menu" class="absolute top-8 right-0 mt-2 w-48 z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600">
                        <div class="px-4 py-3 sm:hidden" role="none">
                            <p class="text-sm text-gray-900 dark:text-white" role="none">
                                @userName
                            </p>
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                @userRole
                            </p>
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                <a asp-controller="User" asp-action="Profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Profile</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
                            </li>
                            <li>
                                <form id="logout-account-form" method="post" asp-controller="Auth" asp-action="Logout">
                                    <button type="button" onclick="confirmLogout()" 
                                    class="cursor-pointer text-left w-full block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                                        Sign out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="/admin/dashboard" 
                class="flex items-center p-2 text-gray-900 rounded-lg group
                        @(currentController == "Dashboard" && currentAction == "Index"
                         ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                         : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                    </svg>
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            @if (userRole == "Super Admin" || userRole == "Admin" || userRole == "Staff")
            {
            <li>
                <a href="/admin/orders" class="flex items-center p-2 text-gray-900 rounded-lg group
                        @(currentController == "Orders" && currentAction == "Orders"
                         ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                         : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                    <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Orders</span>
                </a>
            </li>
            <li>
                <a href="/admin/customers" class="flex items-center p-2 text-gray-900 rounded-lg group
                    @(currentController == "Customer" && currentAction == "Index"
                        ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                        : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                    <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Customers</span>
                </a>
            </li>
            }
            
            <li>
                <a href="/admin/products" class="flex items-center p-2 text-gray-900 rounded-lg group
                        @(currentController == "Products" && currentAction == "Products"
                         ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                         : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                    <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M12.378 1.602a.75.75 0 0 0-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03ZM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 0 0 .372-.648V7.93ZM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 0 0 .372.648l8.628 5.033Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
                </a>
            </li>
            @if (userRole == "Super Admin" || userRole == "Admin" || userRole == "Inventory Manager")
            {
                <li>
                    <a href="/admin/inventory" class="flex items-center p-2 text-gray-900 rounded-lg group
                        @(currentController == "Inventory" && currentAction == "Index"
                         ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                         : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                        <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Inventory</span>
                    </a>
                </li>
            }
            @if (userRole == "Super Admin" || userRole == "Admin" || userRole == "Inventory Manager")
            {
            <li>
                <a href="/admin/category" class="flex items-center p-2 text-gray-900 rounded-lg group
                        @(currentController == "Category" && currentAction == "Index"
                         ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                         : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                    <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Categories</span>
                    @* <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> *@
                </a>
            </li>
            }
            @if(userRole == "Super Admin" || userRole == "Admin")
            {        
            <li>
                <a href="/admin/users" class="flex items-center p-2 text-gray-900 rounded-lg group
                        @(currentController == "User" && currentAction == "Index"
                         ? "bg-gray-100 dark:bg-gray-700 text-[var(--color-primary)] dark:text-white border-l-4 border-[var(--color-primary)]"
                         : "text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700")">
                    <svg class="shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
                </a>
            </li>
            }
        </ul>
    </div>
</aside>
<script>
    function confirmLogout() {
        openModal({
            title: 'Sign Out',
            message: 'Are you sure you want to sign out?',
            confirmText: 'Yes, sign out',
            cancelText: 'Cancel',
            onConfirm: () => {
                document.getElementById('logout-account-form').submit();
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
          const toggleButton = document.querySelector('[data-drawer-toggle="logo-sidebar"]');
          const sidebar = document.getElementById("logo-sidebar");

          const dropdownToggle = document.getElementById('dropdown-toggle');
          const dropdownMenu = document.getElementById('dropdown-menu');

            // sidebar menu
          toggleButton?.addEventListener("click", () => {
            sidebar.classList.toggle("-translate-x-full");
          });

          //navbar profile dropdown
          dropdownToggle.addEventListener("click", function(e){
              e.stopPropagation();
              dropdownMenu.classList.toggle("hidden");
          });

            // Hide dropdown when clicking outside
          document.addEventListener("click", function (e) {
             if (!dropdownMenu.contains(e.target) && !dropdownToggle.contains(e.target)) {
             dropdownMenu.classList.add("hidden");
            }
          });


    });
</script>
